<?xml version="1.0"?>
<config>
    <modules>
        <IncentiBox_Communityrewards>
            <version>1.0.8</version>
        </IncentiBox_Communityrewards>
    </modules>
	
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<communityrewards translate="title" module="communityrewards">
											<title>incentiBox</title>
										</communityrewards>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <layout>
            <updates>
                <communityrewards>
                    <file>communityrewards.xml</file>
                </communityrewards>
            </updates>
        </layout>	
		<translate>
            <modules>
                <IncentiBox_Communityrewards>
                    <files>
                        <default>IncentiBox_Communityrewards.csv</default>
                    </files>
                </IncentiBox_Communityrewards>
            </modules>
        </translate>		
    </adminhtml>
	<admin>
		<routers>
            <adminhtml>
                <args>
                    <modules>
                         <IncentiBox_Communityrewards before="Mage_Adminhtml">IncentiBox_Communityrewards</IncentiBox_Communityrewards>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>
	<global>
		<blocks>
			<communityrewards>
                <class>IncentiBox_Communityrewards_Block</class>
			</communityrewards>
		</blocks>
		<models>
            <communityrewards>
                <class>IncentiBox_Communityrewards_Model</class>
				<resourceModel>communityrewards_mysql4</resourceModel>
            </communityrewards>
			<communityrewards_mysql4>
               <class>IncentiBox_Communityrewards_Model_Mysql4</class>
               <entities>
                   <listener>
                       <table>incentibox_coupons</table>
                   </listener>
               </entities>
           </communityrewards_mysql4>
		</models>
		<helpers>
            <communityrewards>
                <class>IncentiBox_Communityrewards_Helper</class>
            </communityrewards>
		</helpers>
		<resources>
            <communityrewards_setup>
                <setup>
                    <module>IncentiBox_Communityrewards</module>
                </setup>
				<connection>
                   <use>core_setup</use>
               </connection>
            </communityrewards_setup>
			<communityrewards_write>
				<connection>
					<use>core_write</use>
				</connection>
			</communityrewards_write>
			<communityrewards_read>
               <connection>
                   <use>core_read</use>
               </connection>
           </communityrewards_read>
		</resources>
	</global>
	<frontend>
		<translate>
            <modules>
                <IncentiBox_Communityrewards>
                    <files>
                        <default>IncentiBox_Communityrewards.csv</default>
                    </files>
                </IncentiBox_Communityrewards>
            </modules>
        </translate>
		<routers>
            <communityrewards>
                <use>standard</use>
                <args>
                    <module>IncentiBox_Communityrewards</module>
                    <frontName>incentibox</frontName>
                </args>
            </communityrewards>
        </routers>
		<layout>
            <updates>
                <communityrewards>
                    <file>communityrewards.xml</file>
                </communityrewards>
            </updates>
        </layout>
	</frontend>
</config>
